.product-card {
  border: 2px solid var(--secondary-color) !important;
  padding: 10px !important;
  margin: 20px 20px!important;
  /* background-color: var(--base-color)!important; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.product-card:hover{
	box-shadow: rgba(0, 0, 0, 0.19) 5px 15px 25px, rgba(0, 0, 0, 0.23) 5px 11px 11px;
}
.img-fluid {
  /* width: 230px!important; */
  height: 100% !important;
  text-align: center;
  
}
.card-content-container {
  padding: 10px !important;
}
