.grid-container {
  display: grid!important;
	grid-template-columns: 350px 350px 350px;
	grid-template-rows: 380px 380px 380px;
	column-gap: 60px;
	row-gap: 90px;
}

.product-container{
  background-image: url(../../images/cta-bg.png);
  
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: right;
}
