/* .app-name {
  color: var(--secondary-color) !important;
} */
.nav {
  margin-left: 1100px !important;
}
/* nav.scrolled {
  background-color: blue;
} */
.navbar {
  color: var(--secondary-color)!important;
  background-color: var(--base-color) !important;
}
