.button {
  background-color: var(--secondary-color) !important;
  color: var(--base-color) !important;
  margin: 20px 10px !important;
}
.form-group {
  margin: 20px 10px !important;
}
/* form{
    border: 3px solid var(--secondary-color)!important;
} */
