.hero-section {
  padding: 300px 0px !important;
  height: 600px;
  background-size: 500px 600px;
  background-repeat: no-repeat;
  background-position: right;
}
.hero-title{
    color:var(--secondary-color);
}
